* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero section */

.hero-section {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  gap: 32px;
  width: 100%;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.header {
  display: block;
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 8px;
  border-radius: 16px;
  height: fit-content;
}

.header-adaptive {
  display: none;
}

.logo {
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-info {
  padding: 20px 0;
  justify-self: center;
  max-width: 800px;
  height: fit-content;
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 36px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(102, 102, 102, 0.1) 100%
  );
}

.hero-info h1 {
  text-align: center;
}

/* Sign up and login section */

.section {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  gap: 32px;
  width: 100%;
  justify-content: center;
}

.section-margin {
  margin: 100px 0;
}

.signup-img,
.login-img {
  grid-column: 6/12;
  border-radius: 12px;
  display: flex;
  width: 100%;
}

.form-section {
  grid-column: 2/6;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
}

.form-input input {
  width: 100%;
  height: 60px;
  border-radius: 12px;
  border: none;
  padding: 0 12px;
  box-sizing: border-box;
}

/* Profile styles */
.profile-section {
  row-gap: 40px;
}

.profile {
  grid-column: 4/10;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 16px;
  padding: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: fit-content;
}

.profile-details-row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.section-texts-profile {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  text-align: center;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.profile-edit-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: fit-content;
}

/* About page styles */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 60px;
  grid-column: 1/13;
  width: 100%;
}

.about-cards {
  align-items: center;
  justify-content: center;
}

.about-cards-column-1 {
  grid-column: 1/5;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.about-cards-column-2 {
  grid-column: 9/13;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.about-img {
  grid-column: 5/9;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
}

.about-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.about-card img {
  position: static;
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.about-card p {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 8px 36px;
  width: 100%;
  margin: 0;
  z-index: 1;
}

/* Contact section */

.contact-section {
  grid-column: 3/11;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  row-gap: 60px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  height: fit-content;
  align-items: center;
}

.contact-texts {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-form-inputs {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  gap: 32px;
}

.contact-form-column {
  grid-column: 1/5;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-img-left {
  grid-column: 1/3;
  width: 100%;
}

.contact-img-right {
  grid-column: 11/13;
  width: 100%;
}

.contact-textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  grid-column: 5/9;
  row-gap: 12px;
}

.contact-textarea textarea {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
  padding: 12px;
  box-sizing: border-box;
}

.post-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 12px;
}

.post-textarea textarea {
  width: 100%;
  border-radius: 12px;
  border: none;
  padding: 12px;
  box-sizing: border-box;
}

.form-post {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.post-btn-file {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: fit-content;
}

/* News styles */
.news-button {
  grid-column: 1/13;
  justify-content: center;
  display: flex;
  width: 100%;
}

#posts {
  row-gap: 32px;
}

.news-section {
  grid-column: 1/13;
  width: 100%;
  row-gap: 60px;
  align-items: center;
}

.news-texts {
  grid-column: 1/13;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

.posts-grid {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  width: 100%;
}

.post {
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  transition-duration: 0.4s;
}

.post-img {
  max-width: 100%;
  border-radius: 8px;
}

.info-section-title {
  grid-column: 1 / 13;
  text-align: left;
}

/* Footer */

.footer {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 8px;
  border-radius: 16px;
  height: fit-content;
  margin-bottom: 24px;
}
